body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#instruction-container, #response-form, #image-container {
    width: 90%; /* Ogranicza szerokość kontenerów do 90% szerokości ekranu */
    max-width: 600px; /* Maksymalna szerokość kontenera */
    margin: 20px auto; /* Centralizuje kontenery i dodaje marginesy */
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center; /* Wyśrodkowuje tekst w kontenerach */
}

#current-image {
    max-width: 100%; /* Ustawia maksymalną szerokość na 100% kontenera */
    max-height: 500px; /* Ogranicza wysokość do 500px */
    display: block; /* Zapewnia, że obrazek nie będzie miał dodatkowego miejsca pod nim */
    margin: 0 auto; /* Centruje obrazek w poziomie */
}