body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#video-container, #response-form {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#playButton {
    padding: 20px 40px;
    font-size: 32px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

#task-message {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f4f4f4; /* jasnoszary tło dla lepszej widoczności */
    border: 1px solid #ccc; /* subtelna obramówka */
    text-align: center;
}
